<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="leaguesPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.hibernate.ejb.HibernatePersistence</provider>
    <non-jta-data-source>java:app/leaguesJNDI3</non-jta-data-source>
    <class>br.edu.unifei.leagues.modelo.Campeoes</class>
    <class>br.edu.unifei.leagues.modelo.Campeonato</class>
    <class>br.edu.unifei.leagues.modelo.Coach</class>
    <class>br.edu.unifei.leagues.modelo.Equipamento</class>
    <class>br.edu.unifei.leagues.modelo.Jogador</class>
    <class>br.edu.unifei.leagues.modelo.Jogo</class>
    <class>br.edu.unifei.leagues.modelo.LocalEvento</class>
    <class>br.edu.unifei.leagues.modelo.Midia</class>
    <class>br.edu.unifei.leagues.modelo.Patrocinador</class>
    <class>br.edu.unifei.leagues.modelo.Pessoa</class>
    <class>br.edu.unifei.leagues.modelo.Staff</class>
    <class>br.edu.unifei.leagues.modelo.Times</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
    </properties>
  </persistence-unit>
</persistence>
